.sider {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    padding: 53px 0 0;
}
.sider_open {
    padding: 43px 0 0;
}
.img {
    margin-left: 17px;
}
.img_open {
    margin-left: 25px;
}
.menu {
    margin-top: 53px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    cursor: pointer;
}
/* .border_none{
    border: none;
} */
.menu_open {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    cursor: pointer;
}

.ico {
    color: var(--primary-light-9);
    width: 16px;
    height: 16px;
    margin-right: 11px;
    font-size: 14px;
}

.button {
    background-color: white;
    right: -21px;
    position: absolute;
    cursor: pointer;
    top: 482px;
    width: 25px;
    height: 60px;
    margin: auto;
    transform: perspective(120px) rotateY(45deg);
    z-index: 20;
}

.exit_div {
    border-top: rgba(0, 0, 0, 0.15) 2px solid;
    display: flex;
    align-items: center;
    gap: 36px;
    padding: 18px 16px;
}

@media (width < 900px) {
    .button {
        top: 568px;
    }
}
@media (width < 600px) {
    .sider {
        position:fixed;
        z-index: 15;
        top: 0;
        bottom: 0;
    }
    .img {
       display: none;
    }
    .button {
        top: 28px;
        width: 28px;
        right: -23px;
        height: 40px;
        margin: auto;
        transform: perspective(120px) rotateY(45deg);
    }

    .block {
        display: none;
    }
    .img_open {
        align-self: center;
        justify-self: center;
        margin: 0px 18px;
        width: 72px;
        height: 18px;
    }
}
