
.layout{
    display: flex;
    width: 100%;
    max-width: 1440px;
    justify-content: flex-start;
    background: url(../../assets/Main-page_light.png) ;
 
}

.site_layout{
    display: flex;
    flex-direction: column;
    width: 100%;
position: relative;
    justify-content: center;
}

@media (width < 900px) {
    .button {
        /* 
      width: 20px;
   height: 66px;
   right: -40px;
   top: 564px; */
    }
}
@media (width < 600px) {
    .button {
        /* 
      width: 20px;
   height: 66px;
   right: -40px;
   top: 564px; */
    }
}
