.wrapper {
    background: var(--primary-light-1);
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.setting_small {
    display: none;
}
.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 38px;
    line-height: 130%;
    color: var(--character-light-title-85);
    letter-spacing: 0.9px;
    margin: 0px 24px 23px;
}

.link {
    margin: 12px 24px 9px;
}

.setting {
    display: flex;
    width: 120px;
    position: absolute;
    letter-spacing: 1px;
    margin: 16px 24px;
    font-size: 14px;
    justify-content: flex-end;
    gap: 10px;
    top: 35px;
    right: 1%;
    letter-spacing: 0.42px;
}

.setting_ebuchka {
    top: 32px;
}

.wrapper_ebuchka {
    max-width: 460px;
}

.title_ebuchka {
    margin: 0px 30% 26px 24px;
}

@media (width < 980px) {
    .setting {
        top: 33px;
        right: 8%;
    }

    .ico {
        display: none;
    }

    .title {
        font-size: 24px;
    }
}

@media (width < 650px) {
    .link {
        font-weight: 400;
        font-size: 16px;
        margin: 10px 23px 3px;
    }

    .setting {
        display: none;
    }

    .title {
        max-width: 260px;
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 1.1px;
        line-height: 130%;
        margin: 0px 0 25px 20px;
    }

    .setting_small {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 35px;
        right: 6%;
        border: 1px solid var(--character-light-border);
        border-radius: 100px;
        font-size: 14px;
        width: 31px;
        height: 31px;
        box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.04);
        background: var(--character-light-primary-inverse);
    }
}
